on: [push]

jobs:
  get_ucvm:
    runs-on: ubuntu-latest
    name: A job to build UCVM
    steps:
    - uses: actions/checkout@v2
    - id: foo
      uses: SCECcode/UCVMC/.github/actions@v8
      with:
        model-to-build: 'cvmh'

